* {
	margin: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 100%;
	max-width: 1440px;
  	min-width: 320px;
}

header {
	height: 155px;
	background-color: #303030;
	width: 100%;
}

header div {
	padding-left: 93px;
	padding-top: 60px;
}

header h1 {
	color: white;
	font-size: 1.9em;
	font-weight: normal;
	display: inline;
}

header p {
	color: #9a9a9a;
	display: inline;
}

main {
	background-color: #cdcdcd;
	width: 100%;
	height: 90%;
}

footer{
	height: 60px;
	background-color: #303030;
	width: 100%;
}

#box {
	background-color: #fff;
	width: 80%;
	height: 450px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: -40px;
	left: 20px;
}

#box h2 {
	font-size: 1.4em;
	font-weight: normal;
	color: #4b4b4b;
	padding-top: 22px;
	padding-left: 30px;
	padding-bottom: 8px;
	border-bottom: 1px solid #e0e0e0;
}

ul {
	list-style-type: none;
	width: 25%;
	margin-left: 30px;
	display: inline-block;
	padding: 0;
}

ul li {
	background-color: #303030;
	margin-top: 10px;
	padding: 20px;
	font-size: 1.1em;
	text-align: center;
	color: #fff;
}

ul li.ativo {
	background-color: #e12229;
}

input.invalido {
	background-color: #ffdddd;
}

#formulario fieldset {
	width: 50%;
	height: 220px;
	float: right;
	margin-top: 50px;
	margin-right: 150px;
	position: relative;
	top: 6px;
}

#formulario fieldset p {
	padding-top: 10px;
	font-size: 0.9em;
}

#formulario fieldset span {
	font-size: 0.9em;
	border-bottom: 1px solid grey;
}

#formulario fieldset#etapa4 p {
	padding-top: 15px;
	font-size: 0.9em;
	display: inline-block;
}

#formulario fieldset label {
	display: block;
}

.campo {
	margin-top: 10px;
	margin-right: 20px;
	padding: 10px;
	outline: none;
}

#etapa2, #etapa3, #etapa4 {
	display: none;
}

.div_form {
	margin-top: 10px;
	width: 40%;
	display: inline-block;
	margin-left: 20px;
}

.botao {
	padding: 10px;
	background-color: #e12229;
	border: none;
	font-size: 1.2em;
	color: #fff;
	position: absolute;
	top: 225px;
	right: -2px;
}

/*~~~~~~~~~~ Página Sucesso ~~~~~~~~~~*/

#msg {
	width: 100%;
	height: 100%;
	background-image: linear-gradient(#e12229, #cdcdcd);
}

#box h1 {
	font-size: 3em;
	text-align: center;
	padding-top: 60px;
	color: #fff;
}

#box h3 {
	font-size: 2em;
	text-align: center;
	padding-top: 10px;
	color: #fff;
}